.col-24 {
    width: 200%
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],
template {
    display: none
}
a {
    background-color: transparent
}
a:active,
a:hover {
    outline: 0
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
strong {
    font-weight: 700
}
dfn {
    font-style: italic
}
h1 {
    font-size: 2em;
    margin: .67em 0
}
mark {
    background: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 1em 40px
}
hr {
    box-sizing: content-box;
    height: 0
}
pre {
    overflow: auto
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}
button {
    overflow: visible
}
button,
select {
    text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled],
html input[disabled] {
    cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input {
    line-height: normal
}
input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}
input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}
legend {
    border: 0
}
textarea {
    overflow: auto
}
optgroup {
    font-weight: 700
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
legend,
td,
th {
    padding: 0
}
.button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    padding: 6px 16px;
    padding: .4rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
    background-color: transparent
}
.button,
.button:hover {
    text-decoration: none
}
.button:focus {
    outline: none
}
/*! Basscss | http://basscss.com | MIT License */

body {
    margin: 0;
    font-family: Verlag, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #2a2a2a;
    background-color: #fff
}
img {
    max-width: 100%
}
svg {
    max-height: 100%
}
fieldset,
input,
select,
textarea {
    font-family: inherit;
    font-size: 16px;
    font-size: 1rem;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0
}
label {
    vertical-align: middle
}
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
    height: 36px;
    height: 2.25rem;
    padding: 0 12px;
    padding: 0 .8rem;
    vertical-align: middle;
    -webkit-appearance: none
}
select,
textarea {
    line-height: 1.75;
    padding: 0 12px;
    padding: 0 .8rem
}
select:not([multiple]) {
    height: 36px;
    height: 2.25rem;
    vertical-align: middle
}
table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%
}
td,
th {
    padding: 4px 12px;
    padding: .25rem .8rem;
    line-height: inherit
}
th {
    text-align: left;
    font-weight: 600;
    vertical-align: bottom
}
td {
    vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Archer, serif;
    font-weight: 800;
    line-height: 1.1;
    margin-top: 1em;
    margin-bottom: .5em
}
dl,
ol,
p,
ul {
    margin-top: 0;
    margin-bottom: 12px;
    margin-bottom: .8rem
}
code,
pre,
samp {
    font-family: 'Source Code Pro', Consolas, monospace;
    font-size: inherit
}
pre {
    margin-top: 0;
    margin-bottom: 12px;
    margin-bottom: .8rem;
    overflow-x: scroll
}
h1,
h2 {
    font-size: 24px;
    font-size: 1.5rem
}
h3 {
    font-size: 20px;
    font-size: 1.25rem
}
h4 {
    font-size: 18px;
    font-size: 1.15rem
}
h5 {
    font-size: 14px;
    font-size: .875rem
}
h6 {
    font-size: 12px;
    font-size: .75rem
}
a {
    color: #e31d26;
    text-decoration: none
}
a:hover {
    text-decoration: underline
}
.field,
code,
pre {
    border-radius: 0
}
code,
pre {
    background-color: transparent
}
hr {
    border: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e6e6e6
}
.field {
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6
}
.field.is-focused,
.field:focus {
    outline: none;
    border-color: #3a579f;
    box-shadow: 0 0 0 2px rgba(58, 87, 159, .5)
}
.field.is-disabled,
.field:disabled {
    background-color: rgba(0, 0, 0, .125);
    opacity: .5
}
.field.is-read-only,
.field:read-only:not(select) {
    background-color: rgba(0, 0, 0, .125)
}
.field.is-success {
    border-color: #77eac7
}
.field.is-success.is-focused,
.field.is-success:focus {
    box-shadow: 0 0 0 2px rgba(119, 234, 199, .5)
}
.field.is-warning {
    border-color: #fff740
}
.field.is-warning.is-focused,
.field.is-warning:focus {
    box-shadow: 0 0 0 2px rgba(255, 247, 64, .5)
}
.field.is-error {
    border-color: #e31d26
}
.field.is-error.is-focused,
.field.is-error:focus,
.field:invalid.is-focused,
.field:invalid:focus {
    box-shadow: 0 0 0 2px rgba(227, 29, 38, .5)
}
.table-light td,
.table-light th {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e6e6e6
}
.table-light tr:last-child td {
    border-bottom: 0
}
.btn {
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    padding: 6px 16px;
    padding: .4rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
    background-color: transparent
}
.btn,
.btn:hover {
    text-decoration: none
}
.btn:focus {
    outline: none;
    border-color: rgba(0, 0, 0, .125);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .25)
}
::-moz-focus-inner {
    border: 0;
    padding: 0
}
.btn-primary {
    color: #fff;
    background-color: #3a579f;
    border-radius: 0
}
.btn-primary:hover {
    box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, .0625)
}
.btn-primary:active {
    box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, .125), inset 0 3px 4px 0 rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .125)
}
.btn-primary.is-disabled,
.btn-primary:disabled {
    opacity: .5
}
.btn-outline,
.btn-outline:hover {
    border-color: currentcolor
}
.btn-outline {
    border-radius: 0
}
.btn-outline:hover {
    box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, .0625)
}
.btn-outline:active {
    box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, .125), inset 0 3px 4px 0 rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .125)
}
.btn-outline.is-disabled,
.btn-outline:disabled {
    opacity: .5
}
.h1,
.h2 {
    font-size: 24px;
    font-size: 1.5rem
}
.h3 {
    font-size: 20px;
    font-size: 1.25rem
}
.h4 {
    font-size: 18px;
    font-size: 1.15rem
}
.h5 {
    font-size: 14px;
    font-size: .875rem
}
.h6 {
    font-size: 12px;
    font-size: .75rem
}
.font-family-inherit {
    font-family: inherit
}
.font-size-inherit {
    font-size: inherit
}
.text-decoration-none {
    text-decoration: none
}
.regular {
    font-weight: 400
}
.italic {
    font-style: italic
}
.caps {
    text-transform: uppercase
}
.left-align {
    text-align: left
}
.center {
    text-align: center
}
.right-align {
    text-align: right
}
.justify {
    text-align: justify
}
.nowrap {
    white-space: nowrap
}
.line-height-2 {
    line-height: 1.125
}
.line-height-3 {
    line-height: 1.25
}
.line-height-4 {
    line-height: 1.5
}
.list-style-none {
    list-style: none
}
.truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.list-reset {
    list-style: none;
    padding-left: 0
}
.inline {
    display: inline
}
.block {
    display: block
}
.inline-block {
    display: inline-block
}
.table {
    display: table
}
.table-cell {
    display: table-cell
}
.overflow-hidden {
    overflow: hidden
}
.overflow-scroll {
    overflow: scroll
}
.overflow-auto {
    overflow: auto
}
.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}
.clearfix:after {
    clear: both
}
.left {
    float: left
}
.right {
    float: right
}
.fit {
    max-width: 100%
}
.max-width-1 {
    max-width: 384px;
    max-width: 24rem
}
.max-width-2 {
    max-width: 512px;
    max-width: 32rem
}
.max-width-3 {
    max-width: 768px;
    max-width: 48rem
}
.max-width-4 {
    max-width: 1024px;
    max-width: 64rem
}
.border-box {
    box-sizing: border-box
}
.align-baseline {
    vertical-align: baseline
}
.align-top {
    vertical-align: top
}
.align-middle {
    vertical-align: middle
}
.align-bottom {
    vertical-align: bottom
}
.m0 {
    margin: 0
}
.mt0 {
    margin-top: 0
}
.mr0 {
    margin-right: 0
}
.mb0 {
    margin-bottom: 0
}
.ml0,
.mx0 {
    margin-left: 0
}
.mx0 {
    margin-right: 0
}
.my0 {
    margin-top: 0;
    margin-bottom: 0
}
.m1 {
    margin: 6px;
    margin: .4rem
}
.bb-login label,
.mt1 {
    margin-top: 6px;
    margin-top: .4rem
}
.mr1 {
    margin-right: 6px;
    margin-right: .4rem
}
.mb1 {
    margin-bottom: 6px;
    margin-bottom: .4rem
}
.ml1,
.mx1 {
    margin-left: 6px;
    margin-left: .4rem
}
.mx1 {
    margin-right: 6px;
    margin-right: .4rem
}
.my1 {
    margin-top: 6px;
    margin-top: .4rem;
    margin-bottom: 6px;
    margin-bottom: .4rem
}
.m2 {
    margin: 12px;
    margin: .8rem
}
.mt2 {
    margin-top: 12px;
    margin-top: .8rem
}
.bb-client-questions select,
.bb-pagination li,
.mr2 {
    margin-right: 12px;
    margin-right: .8rem
}
.mb2 {
    margin-bottom: 12px;
    margin-bottom: .8rem
}
.ml2,
.mx2 {
    margin-left: 12px;
    margin-left: .8rem
}
.mx2 {
    margin-right: 12px;
    margin-right: .8rem
}
.my2 {
    margin-top: 12px;
    margin-top: .8rem;
    margin-bottom: 12px;
    margin-bottom: .8rem
}
.m3 {
    margin: 24px;
    margin: 1.5rem
}
.mt3 {
    margin-top: 24px;
    margin-top: 1.5rem
}
.mr3 {
    margin-right: 24px;
    margin-right: 1.5rem
}
.mb3 {
    margin-bottom: 24px;
    margin-bottom: 1.5rem
}
.ml3,
.mx3 {
    margin-left: 24px;
    margin-left: 1.5rem
}
.mx3 {
    margin-right: 24px;
    margin-right: 1.5rem
}
.my3 {
    margin-top: 24px;
    margin-top: 1.5rem;
    margin-bottom: 24px;
    margin-bottom: 1.5rem
}
.m4 {
    margin: 48px;
    margin: 3rem
}
.mt4 {
    margin-top: 48px;
    margin-top: 3rem
}
.mr4 {
    margin-right: 48px;
    margin-right: 3rem
}
.mb4 {
    margin-bottom: 48px;
    margin-bottom: 3rem
}
.ml4,
.mx4 {
    margin-left: 48px;
    margin-left: 3rem
}
.mx4 {
    margin-right: 48px;
    margin-right: 3rem
}
.my4 {
    margin-top: 48px;
    margin-top: 3rem;
    margin-bottom: 48px;
    margin-bottom: 3rem
}
.mxn1 {
    margin-left: -6px;
    margin-left: -.4rem;
    margin-right: -6px;
    margin-right: -.4rem
}
.mxn2 {
    margin-left: -12px;
    margin-left: -.8rem;
    margin-right: -12px;
    margin-right: -.8rem
}
.mxn3 {
    margin-left: -24px;
    margin-left: -1.5rem;
    margin-right: -24px;
    margin-right: -1.5rem
}
.mxn4 {
    margin-left: -48px;
    margin-left: -3rem;
    margin-right: -48px;
    margin-right: -3rem
}
.ml-auto {
    margin-left: auto
}
.mr-auto,
.mx-auto {
    margin-right: auto
}
.mx-auto {
    margin-left: auto
}
.p0 {
    padding: 0
}
.px0 {
    padding-left: 0;
    padding-right: 0
}
.py0 {
    padding-top: 0;
    padding-bottom: 0
}
.has-error .help-block,
.p1 {
    padding: 6px;
    padding: .4rem
}
.pt1 {
    padding-top: 6px;
    padding-top: .4rem
}
.pr1 {
    padding-right: 6px;
    padding-right: .4rem
}
.pb1 {
    padding-bottom: 6px;
    padding-bottom: .4rem
}
.pl1 {
    padding-left: 6px;
    padding-left: .4rem
}
.py1 {
    padding-top: 6px;
    padding-top: .4rem;
    padding-bottom: 6px;
    padding-bottom: .4rem
}
.px1 {
    padding-left: 6px;
    padding-left: .4rem;
    padding-right: 6px;
    padding-right: .4rem
}
.p2 {
    padding: 12px;
    padding: .8rem
}
.pt2 {
    padding-top: 12px;
    padding-top: .8rem
}
.pr2 {
    padding-right: 12px;
    padding-right: .8rem
}
.pb2 {
    padding-bottom: 12px;
    padding-bottom: .8rem
}
.pl2 {
    padding-left: 12px;
    padding-left: .8rem
}
.py2 {
    padding-top: 12px;
    padding-top: .8rem;
    padding-bottom: 12px;
    padding-bottom: .8rem
}
.px2 {
    padding-left: 12px;
    padding-left: .8rem;
    padding-right: 12px;
    padding-right: .8rem
}
.p3 {
    padding: 24px;
    padding: 1.5rem
}
.pt3 {
    padding-top: 24px;
    padding-top: 1.5rem
}
.pr3 {
    padding-right: 24px;
    padding-right: 1.5rem
}
.pb3 {
    padding-bottom: 24px;
    padding-bottom: 1.5rem
}
.pl3 {
    padding-left: 24px;
    padding-left: 1.5rem
}
.py3 {
    padding-top: 24px;
    padding-top: 1.5rem;
    padding-bottom: 24px;
    padding-bottom: 1.5rem
}
.px3 {
    padding-left: 24px;
    padding-left: 1.5rem;
    padding-right: 24px;
    padding-right: 1.5rem
}
.p4 {
    padding: 48px;
    padding: 3rem
}
.pt4 {
    padding-top: 48px;
    padding-top: 3rem
}
.pr4 {
    padding-right: 48px;
    padding-right: 3rem
}
.pb4 {
    padding-bottom: 48px;
    padding-bottom: 3rem
}
.pl4 {
    padding-left: 48px;
    padding-left: 3rem
}
.py4 {
    padding-top: 48px;
    padding-top: 3rem;
    padding-bottom: 48px;
    padding-bottom: 3rem
}
.px4 {
    padding-left: 48px;
    padding-left: 3rem;
    padding-right: 48px;
    padding-right: 3rem
}
.relative {
    position: relative
}
.absolute {
    position: absolute
}
.fixed {
    position: fixed
}
.top-0 {
    top: 0
}
.right-0 {
    right: 0
}
.bottom-0 {
    bottom: 0
}
.left-0 {
    left: 0
}
.z1 {
    z-index: 1
}
.z2 {
    z-index: 2
}
.z3 {
    z-index: 3
}
.z4 {
    z-index: 4
}
.lg-show,
.md-show,
.sm-show {
    display: none!important
}
@media (min-width: 720px) {
    .sm-show {
        display: block!important
    }
}
@media (min-width: 1300px) {
    .md-show {
        display: block!important
    }
}
@media (min-width: 1800px) {
    .lg-show {
        display: block!important
    }
}
@media (min-width: 720px) {
    .sm-hide {
        display: none!important
    }
}
@media (min-width: 1300px) {
    .md-hide {
        display: none!important
    }
}
@media (min-width: 1800px) {
    .lg-hide {
        display: none!important
    }
}
.display-none {
    display: none!important
}
.hide {
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px)
}
.container {
    max-width: 1024px;
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto
}
.col,
.col-right {
    float: left;
    box-sizing: border-box
}
.col-right {
    float: right
}
.col-1 {
    width: 8.33333%
}
.col-2 {
    width: 16.66667%
}
.col-3 {
    width: 25%
}
.col-4 {
    width: 33.33333%
}
.col-5 {
    width: 41.66667%
}
.col-6 {
    width: 50%
}
.col-7 {
    width: 58.33333%
}
.col-8 {
    width: 66.66667%
}
.col-9 {
    width: 75%
}
.col-10 {
    width: 83.33333%
}
.col-11 {
    width: 91.66667%
}
.col-12 {
    width: 100%
}
@media (min-width: 720px) {
    .sm-col,
    .sm-col-right {
        float: left;
        box-sizing: border-box
    }
    .sm-col-right {
        float: right
    }
    .sm-col-1 {
        width: 8.33333%
    }
    .sm-col-2 {
        width: 16.66667%
    }
    .sm-col-3 {
        width: 25%
    }
    .sm-col-4 {
        width: 33.33333%
    }
    .sm-col-5 {
        width: 41.66667%
    }
    .sm-col-6 {
        width: 50%
    }
    .sm-col-7 {
        width: 58.33333%
    }
    .sm-col-8 {
        width: 66.66667%
    }
    .sm-col-9 {
        width: 75%
    }
    .sm-col-10 {
        width: 83.33333%
    }
    .sm-col-11 {
        width: 91.66667%
    }
    .sm-col-12 {
        width: 100%
    }
}
@media (min-width: 1300px) {
    .md-col,
    .md-col-right {
        float: left;
        box-sizing: border-box
    }
    .md-col-right {
        float: right
    }
    .md-col-1 {
        width: 8.33333%
    }
    .md-col-2 {
        width: 16.66667%
    }
    .md-col-3 {
        width: 25%
    }
    .md-col-4 {
        width: 33.33333%
    }
    .md-col-5 {
        width: 41.66667%
    }
    .md-col-6 {
        width: 50%
    }
    .md-col-7 {
        width: 58.33333%
    }
    .md-col-8 {
        width: 66.66667%
    }
    .md-col-9 {
        width: 75%
    }
    .md-col-10 {
        width: 83.33333%
    }
    .md-col-11 {
        width: 91.66667%
    }
    .md-col-12 {
        width: 100%
    }
}
@media (min-width: 1800px) {
    .lg-col,
    .lg-col-right {
        float: left;
        box-sizing: border-box
    }
    .lg-col-right {
        float: right
    }
    .lg-col-1 {
        width: 8.33333%
    }
    .lg-col-2 {
        width: 16.66667%
    }
    .lg-col-3 {
        width: 25%
    }
    .lg-col-4 {
        width: 33.33333%
    }
    .lg-col-5 {
        width: 41.66667%
    }
    .lg-col-6 {
        width: 50%
    }
    .lg-col-7 {
        width: 58.33333%
    }
    .lg-col-8 {
        width: 66.66667%
    }
    .lg-col-9 {
        width: 75%
    }
    .lg-col-10 {
        width: 83.33333%
    }
    .lg-col-11 {
        width: 91.66667%
    }
    .lg-col-12 {
        width: 100%
    }
}
.flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}
.flex-column {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column
}
.flex-wrap {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}
.flex-center {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}
.flex-baseline {
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline
}
.flex-stretch {
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch
}
.flex-start {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
}
.flex-end {
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end
}
.flex-justify {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
}
.flex-auto {
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0
}
.flex-grow {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto
}
.flex-none {
    -ms-flex: none;
    -webkit-flex: none;
    flex: none
}
.flex-first {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1
}
.flex-last {
    -ms-flex-order: 99999;
    -webkit-order: 99999;
    order: 99999
}
@media (min-width: 720px) {
    .sm-flex {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex
    }
}
@media (min-width: 1300px) {
    .md-flex {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex
    }
}
@media (min-width: 1800px) {
    .lg-flex {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex
    }
}
.border {
    border-style: solid;
    border-width: 1px
}
.border-top {
    border-top-style: solid;
    border-top-width: 1px
}
.border-right {
    border-right-style: solid;
    border-right-width: 1px
}
.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px
}
.border-left {
    border-left-style: solid;
    border-left-width: 1px
}
.border-none {
    border: 0
}
.rounded {
    border-radius: 0
}
.circle {
    border-radius: 50%
}
.rounded-bottom,
.rounded-left,
.rounded-right,
.rounded-top {
    border-radius: 0 0 0 0
}
.not-rounded {
    border-radius: 0
}
.black {
    color: #2a2a2a
}
.gray {
    color: #e6e6e6
}
.silver {
    color: #f7f7f7
}
.white {
    color: #fff
}
.aqua {
    color: #7fdbff
}
.blue {
    color: #3a579f
}
.navy {
    color: #001f3f
}
.teal {
    color: #39cccc
}
.green {
    color: #77eac7
}
.olive {
    color: #3d9970
}
.lime {
    color: #01ff70
}
.yellow {
    color: #fff740
}
.orange {
    color: #ff851b
}
.red {
    color: #e31d26
}
.fuchsia {
    color: #fe86da
}
.purple {
    color: #b10dc9
}
.maroon {
    color: #85144b
}
.color-inherit {
    color: inherit
}
.bg-black {
    background-color: #2a2a2a
}
.bg-gray {
    background-color: #e6e6e6
}
.bg-silver {
    background-color: #f7f7f7
}
.bg-white {
    background-color: #fff
}
.bg-aqua {
    background-color: #7fdbff
}
.bg-blue {
    background-color: #3a579f
}
.bg-navy {
    background-color: #001f3f
}
.bg-teal {
    background-color: #39cccc
}
.bg-green {
    background-color: #77eac7
}
.bg-olive {
    background-color: #3d9970
}
.bg-lime {
    background-color: #01ff70
}
.bg-yellow {
    background-color: #fff740
}
.bg-orange {
    background-color: #ff851b
}
.bg-red {
    background-color: #e31d26
}
.bg-fuchsia {
    background-color: #fe86da
}
.bg-purple {
    background-color: #b10dc9
}
.bg-maroon {
    background-color: #85144b
}
.bg-darken-1 {
    background-color: rgba(0, 0, 0, .0625)
}
.bg-darken-2 {
    background-color: rgba(0, 0, 0, .125)
}
.bg-darken-3 {
    background-color: rgba(0, 0, 0, .25)
}
.bg-darken-4 {
    background-color: rgba(0, 0, 0, .5)
}
.bg-lighten-1 {
    background-color: rgba(255, 255, 255, .0625)
}
.bg-lighten-2 {
    background-color: rgba(255, 255, 255, .125)
}
.bg-lighten-3 {
    background-color: rgba(255, 255, 255, .25)
}
.bg-lighten-4 {
    background-color: rgba(255, 255, 255, .5)
}
@font-face {
    font-family: "icons";
    src: url(../fonts/icons.eot);
    src: url(../fonts/icons.eot?#iefix) format('eot'), url(../fonts/icons.woff) format('woff'), url(../fonts/icons.ttf) format('truetype'), url(../fonts/icons.svg#icons) format('svg');
    font-weight: 400;
    font-style: normal
}
[class*=" icon-"],
[class^=icon-] {
    font-family: "icons";
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-arrow-down:before {
    content: "\EA01"
}
.icon-arrow-down-2:before {
    content: "\EA02"
}
.icon-arrow-left:before {
    content: "\EA03"
}
.icon-arrow-left-2:before {
    content: "\EA04"
}
.icon-arrow-right:before {
    content: "\EA05"
}
.icon-arrow-right-2:before {
    content: "\EA06"
}
.icon-arrow-up:before {
    content: "\EA07"
}
.icon-arrow-up-2:before {
    content: "\EA08"
}
.icon-cross:before {
    content: "\EA09"
}
.icon-burger:before {
    content: "\EA0A"
}
.icon-search:before {
    content: "\EA0B"
}
.icon-minus:before {
    content: "\EA0C"
}
.icon-triangle-down:before {
    content: "\EA0D"
}
.icon-plus:before {
    content: "\EA0E"
}
.icon-triangle-left:before {
    content: "\EA0F"
}
.icon-slash:before {
    content: "\EA10"
}
.icon-triangle-right:before {
    content: "\EA11"
}
.icon-facebook:before {
    content: "\EA12"
}
.icon-triangle-up:before {
    content: "\EA13"
}
.icon-instagram:before {
    content: "\EA14"
}
.icon-twitter:before {
    content: "\EA15"
}
.icon-youtube:before {
    content: "\EA16"
}
.icon-pinterest:before {
    content: "\EA17"
}
.icon-tick:before {
    content: "\EA18"
}
.icon-class-baby:before {
    content: "\EA19"
}
.icon-class-beginners:before {
    content: "\EA1A"
}
.icon-class-coordination:before {
    content: "\EA1B"
}
.icon-class-equipment:before {
    content: "\EA1C"
}
.icon-class-flexibility:before {
    content: "\EA1D"
}
.icon-class-intense:before {
    content: "\EA1E"
}
.icon-class-low_impact:before {
    content: "\EA1F"
}
.icon-class-mind:before {
    content: "\EA20"
}
.icon-class-no_beginners:before {
    content: "\EA21"
}
.icon-class-pre_natal:before {
    content: "\EA22"
}
.icon-class-sweaty:before {
    content: "\EA23"
}
.icon-class-trainers:before {
    content: "\EA24"
}
.icon-menu-arrow:before {
    content: "\EA25"
}
.icon-basket:before {
    content: "\EA26"
}
.aspect-6-1 {
    padding-top: 16.7%
}
.aspect-5-1 {
    padding-top: 20%
}
.aspect-8-3 {
    padding-top: 37.5%
}
.aspect-2-1 {
    padding-top: 50%
}
.aspect-16-9 {
    padding-top: 56.25%
}
.aspect-3-2 {
    padding-top: 67%
}
.aspect-4-3 {
    padding-top: 75%
}
.aspect-1-1 {
    padding-top: 100%
}
.aspect-4-5 {
    padding-top: 125%
}
@media (min-width: 720px) {
    .sm-aspect-6-1 {
        padding-top: 16.7%
    }
    .sm-aspect-5-1 {
        padding-top: 20%
    }
    .sm-aspect-8-3 {
        padding-top: 37.5%
    }
    .sm-aspect-2-1 {
        padding-top: 50%
    }
    .sm-aspect-16-9 {
        padding-top: 56.25%
    }
    .sm-aspect-3-2 {
        padding-top: 67%
    }
    .sm-aspect-4-3 {
        padding-top: 75%
    }
    .sm-aspect-1-1 {
        padding-top: 100%
    }
    .sm-aspect-4-5 {
        padding-top: 125%
    }
    .sm-aspect-clear {
        padding-top: 0
    }
}
@media (min-width: 1300px) {
    .md-aspect-6-1 {
        padding-top: 16.7%
    }
    .md-aspect-5-1 {
        padding-top: 20%
    }
    .md-aspect-8-3 {
        padding-top: 37.5%
    }
    .md-aspect-2-1 {
        padding-top: 50%
    }
    .md-aspect-16-9 {
        padding-top: 56.25%
    }
    .md-aspect-3-2 {
        padding-top: 67%
    }
    .md-aspect-4-3 {
        padding-top: 75%
    }
    .md-aspect-1-1 {
        padding-top: 100%
    }
    .md-aspect-4-5 {
        padding-top: 125%
    }
    .md-aspect-clear {
        padding-top: 0
    }
}
@media (min-width: 1800px) {
    .lg-aspect-6-1 {
        padding-top: 16.7%
    }
    .lg-aspect-5-1 {
        padding-top: 20%
    }
    .lg-aspect-8-3 {
        padding-top: 37.5%
    }
    .lg-aspect-2-1 {
        padding-top: 50%
    }
    .lg-aspect-16-9 {
        padding-top: 56.25%
    }
    .lg-aspect-3-2 {
        padding-top: 67%
    }
    .lg-aspect-4-3 {
        padding-top: 75%
    }
    .lg-aspect-1-1 {
        padding-top: 100%
    }
    .lg-aspect-4-5 {
        padding-top: 125%
    }
    .lg-aspect-clear {
        padding-top: 0
    }
}
.ng-cloak,
.x-ng-cloak,
[data-ng-cloak],
[ng-cloak],
[ng\:cloak],
[x-ng-cloak] {
    display: none!important
}
.bb-pagination ul {
    list-style: none;
    padding: 0
}
.bb-pagination li {
    display: inline-block
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}
.has-error input {
    border-color: #e31d26
}
.has-error .help-block {
    border: 1px #e31d26 solid;
    margin-top: 6px;
    margin-top: .4rem;
    background-color: #ffe8ea
}
.has-success input {
    border-color: #2a2a2a
}
.bb-client-questions .bb-question-heading {
    font-weight: 700;
    margin-bottom: 6px;
    margin-bottom: .4rem
}
.bb-client-questions input[type=email],
.bb-client-questions input[type=text],
.bb-login input[type=email],
.bb-login input[type=password],
.bb-login input[type=submit],
.c_pay input[type=email],
.c_pay input[type=text] {
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, .02);
    font-family: inherit;
    font-size: 16px;
    font-size: 1rem;
    box-sizing: border-box;
    margin-top: 6px;
    margin-top: .4rem;
    margin-bottom: 0;
    height: 36px;
    height: 2.25rem;
    padding: 0 12px;
    padding: 0 .8rem;
    vertical-align: middle;
    -webkit-appearance: none;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    border-radius: 0
}
.bb-login input[type=submit] {
    background-color: #3a579f;
    text-transform: uppercase;
    font-size: 12px;
    font-size: .75rem;
    line-height: 1;
    margin-top: 12px;
    margin-top: .8rem
}
.bb-login label {
    display: block
}
.bb-client-questions>li:nth-child(odd) {
    background-color: #f7f7f7
}
.bb-question-help-text {
    text-transform: none;
    letter-spacing: 0
}
.bb-client-questions .checkbox>label>input[type=checkbox] {
    margin: 0 0 0 12px;
    margin: 0 0 0 .8rem;
    float: right
}
.bb-client-questions .radio {
    margin-top: 6px;
    margin-top: .4rem;
    margin-right: 6px;
    margin-right: .4rem
}
.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0
}
.form-horizontal input,
.form-horizontal select {
    border-style: solid!important;
    border-width: 1px!important;
    border-color: #e6e6e6!important;
    border-radius: 0!important
}
.form-control {
    color: inherit!important;
    border: 1px solid transparent!important;
    border-radius: 0!important
}
.form-horizontal .btn-primary {
    color: #fff!important;
    background-color: #e31d26!important;
    border-color: #e31d26!important;
    border-radius: 0!important;
    width: 50%!important;
    float: right!important
}
.form-horizontal label {
    text-transform: uppercase!important;
    font-size: 12px!important;
    font-size: .75rem!important;
    letter-spacing: 2
}
.radio-label input {
    margin-right: 8px;
    margin-right: .5rem
}
[bb-pay-form] input[type=radio].btn {
    appearance: radio!important;
    -moz-appearance: radio!important;
    -webkit-appearance: radio!important
}
.border,
.border-bottom,
.border-left,
.border-right,
.border-top {
    border-color: #e6e6e6
}
.border-transparent {
    border-color: transparent
}
.border-red {
    border-color: #e31d26
}
.border-white {
    border-color: #fff
}
.border-silver {
    border-color: #f7f7f7
}
.border-gray {
    border-color: #e6e6e6
}
.border-black {
    border-color: #2a2a2a
}
.border-yellow {
    border-color: #fff740
}
.border-2px {
    border-width: 2px
}
.border-0 {
    border-width: 0
}
.border-1 {
    border-width: 6px;
    border-width: .4rem
}
.border-2 {
    border-width: 12px;
    border-width: .8rem
}
@media (min-width: 720px) {
    .sm-border-0 {
        border: 0
    }
    .sm-border {
        border-style: solid;
        border-width: 1px;
        border-color: #e6e6e6
    }
    .sm-border-top {
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #e6e6e6
    }
    .sm-border-bottom {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #e6e6e6
    }
    .sm-border-left {
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: #e6e6e6
    }
    .sm-border-right {
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: #e6e6e6
    }
    .border-white {
        border-color: #fff
    }
    .sm-border-silver {
        border-color: #f7f7f7
    }
    .sm-border-red {
        border-color: #e31d26
    }
}
@media (min-width: 1300px) {
    .md-border-0 {
        border: 0
    }
    .md-border {
        border-style: solid;
        border-width: 1px;
        border-color: #e6e6e6
    }
    .md-border-top {
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #e6e6e6
    }
    .md-border-bottom {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #e6e6e6
    }
    .md-border-left {
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: #e6e6e6
    }
    .md-border-right {
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: #e6e6e6
    }
    .border-white {
        border-color: #fff
    }
    .sm-border-silver {
        border-color: #f7f7f7
    }
    .sm-border-red {
        border-color: #e31d26
    }
}
@media (min-width: 1800px) {
    .lg-border-0 {
        border: 0
    }
    .lg-border {
        border-style: solid;
        border-width: 1px;
        border-color: #e6e6e6
    }
    .lg-border-top {
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #e6e6e6
    }
    .lg-border-bottom {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #e6e6e6
    }
    .lg-border-left {
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: #e6e6e6
    }
    .lg-border-right {
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: #e6e6e6
    }
    .border-white {
        border-color: #fff
    }
    .sm-border-silver {
        border-color: #f7f7f7
    }
    .sm-border-red {
        border-color: #e31d26
    }
}
.diagonal-top-wrapper {
    padding-top: 60px
}
.diagonal-top {
    position: relative
}
.diagonal-bottom:before,
.diagonal-top:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 80%;
    background: inherit;
    -webkit-transform: skewY(-2.5deg);
    -ms-transform: skewY(-2.5deg);
    transform: skewY(-2.5deg);
    z-index: -1
}
.diagonal-top:before {
    top: -30px
}
.diagonal-bottom-wrapper {
    padding-bottom: 60px
}
.diagonal-bottom {
    position: relative
}
.diagonal-bottom:before {
    bottom: -30px
}
.colour-001 {
    color: #ffe8ea
}
.bg-colour-001 {
    background-color: #ffe8ea
}
.colour-002 {
    color: #000
}
.bg-colour-002 {
    background-color: #000
}
.colour-003 {
    color: #000
}
.bg-colour-003 {
    background-color: #000
}
.colour-004 {
    color: #000
}
.bg-colour-004 {
    background-color: #000
}
.colour-005 {
    color: #000
}
.bg-colour-005 {
    background-color: #000
}
.colour-006 {
    color: #000
}
.bg-colour-006 {
    background-color: #000
}
.colour-007 {
    color: #000
}
.bg-colour-007 {
    background-color: #000
}
.colour-008 {
    color: #000
}
.bg-colour-008 {
    background-color: #000
}
.bg-lighten-001 {
    background-color: rgba(255, 255, 255, .9)
}
@media (min-width: 720px) {
    .sm-bg-transparent {
        background-color: transparent
    }
}
.js-is-active.active-my2 {
    margin-top: 12px;
    margin-top: .8rem;
    margin-bottom: 12px;
    margin-bottom: .8rem
}
.pt0 {
    padding-top: 0
}
.pb0 {
    padding-bottom: 0
}
.pl0 {
    padding-left: 0
}
.pr0 {
    padding-right: 0
}
.mbn1 {
    margin-bottom: -6px;
    margin-bottom: -.4rem
}
.mbn2 {
    margin-bottom: -12px;
    margin-bottom: -.8rem
}
.mbn3 {
    margin-bottom: -24px;
    margin-bottom: -1.5rem
}
.mbn4 {
    margin-bottom: -48px;
    margin-bottom: -3rem
}
.mtn1 {
    margin-top: -6px;
    margin-top: -.4rem
}
.mtn2 {
    margin-top: -12px;
    margin-top: -.8rem
}
.mtn3 {
    margin-top: -24px;
    margin-top: -1.5rem
}
.mtn4 {
    margin-top: -48px;
    margin-top: -3rem
}
.px1px {
    padding-left: 1px;
    padding-right: 1px
}
.py1px {
    padding-top: 1px;
    padding-bottom: 1px
}
.mxn1px {
    margin-left: -1px;
    margin-right: -1px
}
.myn1px {
    margin-top: -1px;
    margin-bottom: -1px
}
.m5 {
    margin: 64px;
    margin: 4rem
}
.mt5 {
    margin-top: 64px;
    margin-top: 4rem
}
.mb5 {
    margin-bottom: 64px;
    margin-bottom: 4rem
}
.ml5 {
    margin-left: 64px;
    margin-left: 4rem
}
.mr5 {
    margin-right: 64px;
    margin-right: 4rem
}
.p5 {
    padding: 64px;
    padding: 4rem
}
.px5 {
    padding-left: 64px;
    padding-left: 4rem;
    padding-right: 64px;
    padding-right: 4rem
}
.py5 {
    padding-top: 64px;
    padding-top: 4rem;
    padding-bottom: 64px;
    padding-bottom: 4rem
}
.mxn5 {
    margin-left: -64px;
    margin-left: -4rem;
    margin-right: -64px;
    margin-right: -4rem
}
.m6 {
    margin: 96px;
    margin: 6rem
}
.mt6 {
    margin-top: 96px;
    margin-top: 6rem
}
.mb6 {
    margin-bottom: 96px;
    margin-bottom: 6rem
}
.ml6 {
    margin-left: 96px;
    margin-left: 6rem
}
.mr6 {
    margin-right: 96px;
    margin-right: 6rem
}
.p6 {
    padding: 96px;
    padding: 6rem
}
.px6 {
    padding-left: 96px;
    padding-left: 6rem;
    padding-right: 96px;
    padding-right: 6rem
}
.py6 {
    padding-top: 96px;
    padding-top: 6rem;
    padding-bottom: 96px;
    padding-bottom: 6rem
}
.mxn6 {
    margin-left: -96px;
    margin-left: -6rem;
    margin-right: -96px;
    margin-right: -6rem
}
.m7 {
    margin: 224px;
    margin: 14rem
}
.mt7 {
    margin-top: 224px;
    margin-top: 14rem
}
.mb7 {
    margin-bottom: 224px;
    margin-bottom: 14rem
}
.ml7 {
    margin-left: 224px;
    margin-left: 14rem
}
.mr7 {
    margin-right: 224px;
    margin-right: 14rem
}
.p7 {
    padding: 224px;
    padding: 14rem
}
.px7 {
    padding-left: 224px;
    padding-left: 14rem;
    padding-right: 224px;
    padding-right: 14rem
}
.py7 {
    padding-top: 224px;
    padding-top: 14rem;
    padding-bottom: 224px;
    padding-bottom: 14rem
}
.mxn7 {
    margin-left: -224px;
    margin-left: -14rem;
    margin-right: -224px;
    margin-right: -14rem
}
.min-height-7 {
    min-height: 224px;
    min-height: 14rem
}
.m8 {
    margin: 384px;
    margin: 24rem
}
.mt8 {
    margin-top: 384px;
    margin-top: 24rem
}
.mb8 {
    margin-bottom: 384px;
    margin-bottom: 24rem
}
.ml8 {
    margin-left: 384px;
    margin-left: 24rem
}
.mr8 {
    margin-right: 384px;
    margin-right: 24rem
}
.p8 {
    padding: 384px;
    padding: 24rem
}
.px8 {
    padding-left: 384px;
    padding-left: 24rem;
    padding-right: 384px;
    padding-right: 24rem
}
.py8 {
    padding-top: 384px;
    padding-top: 24rem;
    padding-bottom: 384px;
    padding-bottom: 24rem
}
.mxn8 {
    margin-left: -384px;
    margin-left: -24rem;
    margin-right: -384px;
    margin-right: -24rem
}
.min-height-8 {
    min-height: 384px;
    min-height: 24rem
}
@media (min-width: 720px) {
    .sm-m5 {
        margin: 4rem
    }
    .sm-mt5 {
        margin-top: 4rem
    }
    .sm-mb5 {
        margin-bottom: 4rem
    }
    .sm-ml5 {
        margin-left: 4rem
    }
    .sm-mr5 {
        margin-right: 4rem
    }
    .sm-p5 {
        padding: 4rem
    }
    .sm-px5 {
        padding-left: 4rem;
        padding-right: 4rem
    }
    .sm-py5 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }
    .sm-m6 {
        margin: 6rem
    }
    .sm-mt6 {
        margin-top: 6rem
    }
    .sm-mb6 {
        margin-bottom: 6rem
    }
    .sm-ml6 {
        margin-left: 6rem
    }
    .sm-mr6 {
        margin-right: 6rem
    }
    .sm-p6 {
        padding: 6rem
    }
    .sm-px6 {
        padding-left: 6rem;
        padding-right: 6rem
    }
    .sm-py6 {
        padding-top: 6rem;
        padding-bottom: 6rem
    }
    .sm-m7 {
        margin: 14rem
    }
    .sm-mt7 {
        margin-top: 14rem
    }
    .sm-mb7 {
        margin-bottom: 14rem
    }
    .sm-ml7 {
        margin-left: 14rem
    }
    .sm-mr7 {
        margin-right: 14rem
    }
    .sm-p7 {
        padding: 14rem
    }
    .sm-px7 {
        padding-left: 14rem;
        padding-right: 14rem
    }
    .sm-py7 {
        padding-top: 14rem;
        padding-bottom: 14rem
    }
    .sm-m8 {
        margin: 24rem
    }
    .sm-mt8 {
        margin-top: 24rem
    }
    .sm-mb8 {
        margin-bottom: 24rem
    }
    .sm-ml8 {
        margin-left: 24rem
    }
    .sm-mr8 {
        margin-right: 24rem
    }
    .sm-p8 {
        padding: 24rem
    }
    .sm-px8 {
        padding-left: 24rem;
        padding-right: 24rem
    }
    .sm-py8 {
        padding-top: 24rem;
        padding-bottom: 24rem
    }
    .sm-mtn1 {
        margin-top: -.4rem
    }
    .sm-mtn2 {
        margin-top: -.8rem
    }
    .sm-mtn3 {
        margin-top: -1.5rem
    }
    .sm-mtn4 {
        margin-top: -3rem
    }
    .sm-mxn5 {
        margin-left: -4rem;
        margin-right: -4rem
    }
    .sm-mxn6 {
        margin-left: -6rem;
        margin-right: -6rem
    }
    .sm-mxn7 {
        margin-left: -14rem;
        margin-right: -14rem
    }
    .sm-mxn8 {
        margin-left: -24rem;
        margin-right: -24rem
    }
    .sm-min-height-7 {
        min-height: 14rem
    }
    .sm-min-height-8 {
        min-height: 24rem
    }
}
@media (min-width: 1300px) {
    .md-m5 {
        margin: 4rem
    }
    .md-mt5 {
        margin-top: 4rem
    }
    .md-mb5 {
        margin-bottom: 4rem
    }
    .md-ml5 {
        margin-left: 4rem
    }
    .md-mr5 {
        margin-right: 4rem
    }
    .md-p5 {
        padding: 4rem
    }
    .md-px5 {
        padding-left: 4rem;
        padding-right: 4rem
    }
    .md-py5 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }
    .md-m6 {
        margin: 6rem
    }
    .md-mt6 {
        margin-top: 6rem
    }
    .md-mb6 {
        margin-bottom: 6rem
    }
    .md-ml6 {
        margin-left: 6rem
    }
    .md-mr6 {
        margin-right: 6rem
    }
    .md-p6 {
        padding: 6rem
    }
    .md-px6 {
        padding-left: 6rem;
        padding-right: 6rem
    }
    .md-py6 {
        padding-top: 6rem;
        padding-bottom: 6rem
    }
    .md-m7 {
        margin: 14rem
    }
    .md-mt7 {
        margin-top: 14rem
    }
    .md-mb7 {
        margin-bottom: 14rem
    }
    .md-ml7 {
        margin-left: 14rem
    }
    .md-mr7 {
        margin-right: 14rem
    }
    .md-p7 {
        padding: 14rem
    }
    .md-px7 {
        padding-left: 14rem;
        padding-right: 14rem
    }
    .md-py7 {
        padding-top: 14rem;
        padding-bottom: 14rem
    }
    .md-m8 {
        margin: 24rem
    }
    .md-mt8 {
        margin-top: 24rem
    }
    .md-mb8 {
        margin-bottom: 24rem
    }
    .md-ml8 {
        margin-left: 24rem
    }
    .md-mr8 {
        margin-right: 24rem
    }
    .md-p8 {
        padding: 24rem
    }
    .md-px8 {
        padding-left: 24rem;
        padding-right: 24rem
    }
    .md-py8 {
        padding-top: 24rem;
        padding-bottom: 24rem
    }
    .md-mtn1 {
        margin-top: -.4rem
    }
    .md-mtn2 {
        margin-top: -.8rem
    }
    .md-mtn3 {
        margin-top: -1.5rem
    }
    .md-mtn4 {
        margin-top: -3rem
    }
    .md-mxn5 {
        margin-left: -4rem;
        margin-right: -4rem
    }
    .md-mxn6 {
        margin-left: -6rem;
        margin-right: -6rem
    }
    .md-mxn7 {
        margin-left: -14rem;
        margin-right: -14rem
    }
    .md-mxn8 {
        margin-left: -24rem;
        margin-right: -24rem
    }
    .md-min-height-7 {
        min-height: 14rem
    }
    .md-min-height-8 {
        min-height: 24rem
    }
}
@media (min-width: 1800px) {
    .lg-m5 {
        margin: 4rem
    }
    .lg-mt5 {
        margin-top: 4rem
    }
    .lg-mb5 {
        margin-bottom: 4rem
    }
    .lg-ml5 {
        margin-left: 4rem
    }
    .lg-mr5 {
        margin-right: 4rem
    }
    .lg-p5 {
        padding: 4rem
    }
    .lg-px5 {
        padding-left: 4rem;
        padding-right: 4rem
    }
    .lg-py5 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }
    .lg-m6 {
        margin: 6rem
    }
    .lg-mt6 {
        margin-top: 6rem
    }
    .lg-mb6 {
        margin-bottom: 6rem
    }
    .lg-ml6 {
        margin-left: 6rem
    }
    .lg-mr6 {
        margin-right: 6rem
    }
    .lg-p6 {
        padding: 6rem
    }
    .lg-px6 {
        padding-left: 6rem;
        padding-right: 6rem
    }
    .lg-py6 {
        padding-top: 6rem;
        padding-bottom: 6rem
    }
    .lg-m7 {
        margin: 14rem
    }
    .lg-mt7 {
        margin-top: 14rem
    }
    .lg-mb7 {
        margin-bottom: 14rem
    }
    .lg-ml7 {
        margin-left: 14rem
    }
    .lg-mr7 {
        margin-right: 14rem
    }
    .lg-p7 {
        padding: 14rem
    }
    .lg-px7 {
        padding-left: 14rem;
        padding-right: 14rem
    }
    .lg-py7 {
        padding-top: 14rem;
        padding-bottom: 14rem
    }
    .lg-m8 {
        margin: 24rem
    }
    .lg-mt8 {
        margin-top: 24rem
    }
    .lg-mb8 {
        margin-bottom: 24rem
    }
    .lg-ml8 {
        margin-left: 24rem
    }
    .lg-mr8 {
        margin-right: 24rem
    }
    .lg-p8 {
        padding: 24rem
    }
    .lg-px8 {
        padding-left: 24rem;
        padding-right: 24rem
    }
    .lg-py8 {
        padding-top: 24rem;
        padding-bottom: 24rem
    }
    .lg-mtn1 {
        margin-top: -.4rem
    }
    .lg-mtn2 {
        margin-top: -.8rem
    }
    .lg-mtn3 {
        margin-top: -1.5rem
    }
    .lg-mtn4 {
        margin-top: -3rem
    }
    .lg-mxn5 {
        margin-left: -4rem;
        margin-right: -4rem
    }
    .lg-mxn6 {
        margin-left: -6rem;
        margin-right: -6rem
    }
    .lg-mxn7 {
        margin-left: -14rem;
        margin-right: -14rem
    }
    .lg-mxn8 {
        margin-left: -24rem;
        margin-right: -24rem
    }
    .lg-min-height-7 {
        min-height: 14rem
    }
    .lg-min-height-8 {
        min-height: 24rem
    }
}
.fill-silver {
    fill: #f7f7f7
}
.fill-red {
    fill: #e31d26
}
.fill-yellow {
    fill: #fff740
}
.fill-white {
    fill: #fff
}
textarea.field {
    resize: vertical
}
.field:invalid {
    border-color: #e6e6e6
}
input[type=checkbox].checkbox,
label.checkbox,
label.checkbox:before {
    display: inline-block;
    vertical-align: text-bottom;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    cursor: pointer
}
input[type=checkbox].checkbox {
    position: absolute;
    opacity: 0;
    z-index: 1
}
label.checkbox {
    position: relative;
    z-index: 0
}
label.checkbox:before {
    content: "\2715";
    background-color: #fff;
    color: #fff;
    font-size: .75em
}
input[type=checkbox].checkbox:checked+label.checkbox:before {
    color: #2a2a2a
}
label.checkbox-silver:before {
    background-color: #f7f7f7;
    color: #f7f7f7
}
.custom-radio,
.custom-radio:before {
    cursor: pointer;
    display: inline-block;
    vertical-align: text-bottom;
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    font-size: .9em;
    margin-top: 2px;
    margin-left: 1px
}
.custom-radio:before {
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    content: "\25CF";
    color: #fff
}
.custom-radio.is-selected,
.custom-radio.is-selected:before {
    cursor: auto;
    color: #e31d26
}
.height-0 {
    height: 0
}
.height-100 {
    height: 100%
}
.min-height-10 {
    min-height: 160px;
    min-height: 10rem
}
.min-height-20 {
    min-height: 320px;
    min-height: 20rem
}
.min-height-30 {
    min-height: 480px;
    min-height: 30rem
}
.height-10 {
    height: 160px;
    height: 10rem
}
.height-20 {
    height: 320px;
    height: 20rem
}
.height-30 {
    height: 480px;
    height: 30rem
}
@media (min-width: 720px) {
    .sm-height-auto {
        height: auto
    }
    .sm-height-0 {
        height: 0
    }
    .sm-height-100 {
        height: 100%
    }
    .sm-min-height-10 {
        min-height: 10rem
    }
    .sm-min-height-20 {
        min-height: 20rem
    }
    .sm-min-height-30 {
        min-height: 30rem
    }
    .sm-height-10 {
        height: 10rem
    }
    .sm-height-20 {
        height: 20rem
    }
    .sm-height-30 {
        height: 30rem
    }
}
@media (min-width: 1300px) {
    .md-height-auto {
        height: auto
    }
    .md-height-0 {
        height: 0
    }
    .md-height-100 {
        height: 100%
    }
    .md-min-height-10 {
        min-height: 10rem
    }
    .md-min-height-20 {
        min-height: 20rem
    }
    .md-min-height-30 {
        min-height: 30rem
    }
    .md-height-10 {
        height: 10rem
    }
    .md-height-20 {
        height: 20rem
    }
    .md-height-30 {
        height: 30rem
    }
}
@media (min-width: 1800px) {
    .lg-height-auto {
        height: auto
    }
    .lg-height-0 {
        height: 0
    }
    .lg-height-100 {
        height: 100%
    }
    .lg-min-height-10 {
        min-height: 10rem
    }
    .lg-min-height-20 {
        min-height: 20rem
    }
    .lg-min-height-30 {
        min-height: 30rem
    }
    .lg-height-10 {
        height: 10rem
    }
    .lg-height-20 {
        height: 20rem
    }
    .lg-height-30 {
        height: 30rem
    }
}
.hover-reset:active,
.hover-reset:focus,
.hover-reset:hover {
    text-decoration: none;
    box-shadow: none
}
.cursor-reset,
.cursor-reset:active,
.cursor-reset:focus,
.cursor-reset:hover {
    cursor: default
}
.cursor-pointer:active,
.cursor-pointer:focus,
.cursor-pointer:hover {
    cursor: pointer
}
.hover-white:hover {
    color: #fff
}
.hover-red:hover {
    color: #e31d26
}
.hover-black:hover {
    color: #2a2a2a
}
.hover-border:active,
.hover-border:focus,
.hover-border:hover {
    border-color: currentcolor
}
.hover-show,
.hover-show-muted {
    opacity: 0;
    visibility: none
}
.hover-child-show:hover>.hover-show,
.hover-show:hover {
    opacity: 1;
    visibility: visible
}
.hover-child-show:hover>.hover-show-muted,
.hover-show-muted:hover {
    opacity: .9;
    visibility: visible
}
.hover-underline:hover {
    text-decoration: underline
}
.hover-muted:hover {
    opacity: .9
}
.active-show,
.active-show-inline,
.js-is-active.active-hide,
.js-is-active.active-hide-inline,
.js-is-active>*>.active-hide,
.js-is-active>*>.active-hide-inline,
.js-is-active>.active-hide,
.js-is-active>.active-hide-inline {
    display: none
}
.active-hide,
.js-is-active.active-show,
.js-is-active>*>.active-show,
.js-is-active>.active-show {
    display: block
}
.active-hide-inline,
.js-is-active.active-show-inline,
.js-is-active>*>.active-show-inline,
.js-is-active>.active-show-inline {
    display: inline
}
.active-show-soft {
    visibility: hidden;
    height: 0;
    opacity: 0
}
.js-is-active.active-show-soft,
.js-is-active>*>.active-show-soft,
.js-is-active>.active-show-soft {
    visibility: visible;
    height: auto;
    opacity: 1
}
.active-slide-x {
    -webkit-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    transform: translateX(-400px)
}
.js-is-active.active-slide-x,
.js-is-active>*>.active-slide-x,
.js-is-active>.active-slide-x {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}
.active-bg-red {
    background-color: inherit
}
.js-is-active.active-bg-red,
.js-is-active>*>.active-bg-red,
.js-is-active>.active-bg-red {
    background-color: red
}
.js-sticky-fix {
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0
}
@media (min-width: 720px) {
    .sm-soft-show {
        display: block
    }
    .sm-soft-hide {
        display: none
    }
}
@media (min-width: 1300px) {
    .md-soft-show {
        display: block
    }
    .md-soft-hide {
        display: none
    }
}
@media (min-width: 1800px) {
    .lg-soft-show {
        display: block
    }
    .lg-soft-hide {
        display: none
    }
}
@media (min-width: 720px) {
    .sm-pos-reset {
        left: auto;
        right: auto;
        top: auto;
        bottom: auto
    }
    .sm-left-0 {
        left: 0
    }
    .sm-right-0 {
        right: 0
    }
    .sm-top-0 {
        top: 0
    }
    .sm-bottom-0 {
        bottom: 0
    }
    .sm-relative {
        position: relative
    }
    .sm-absolute {
        position: absolute
    }
    .sm-left-align {
        text-align: left
    }
    .sm-center {
        text-align: center
    }
    .sm-right-align {
        text-align: right
    }
}
@media (min-width: 1300px) {
    .md-pos-reset {
        left: auto;
        right: auto;
        top: auto;
        bottom: auto
    }
    .md-left-0 {
        left: 0
    }
    .md-right-0 {
        right: 0
    }
    .md-top-0 {
        top: 0
    }
    .md-bottom-0 {
        bottom: 0
    }
    .md-relative {
        position: relative
    }
    .md-absolute {
        position: absolute
    }
    .md-left-align {
        text-align: left
    }
    .md-center {
        text-align: center
    }
    .md-right-align {
        text-align: right
    }
}
@media (min-width: 1800px) {
    .lg-pos-reset {
        left: auto;
        right: auto;
        top: auto;
        bottom: auto
    }
    .lg-left-0 {
        left: 0
    }
    .lg-right-0 {
        right: 0
    }
    .lg-top-0 {
        top: 0
    }
    .lg-bottom-0 {
        bottom: 0
    }
    .lg-relative {
        position: relative
    }
    .lg-absolute {
        position: absolute
    }
    .lg-left-align {
        text-align: left
    }
    .lg-center {
        text-align: center
    }
    .lg-right-align {
        text-align: right
    }
}
@media (min-width: 720px) {
    .sm-m0 {
        margin: 0
    }
    .sm-p0 {
        padding: 0
    }
    .sm-m1 {
        margin: .4rem
    }
    .sm-mt1 {
        margin-top: .4rem
    }
    .sm-mb1 {
        margin-bottom: .4rem
    }
    .sm-ml1 {
        margin-left: .4rem
    }
    .sm-mr1 {
        margin-right: .4rem
    }
    .sm-mxn1 {
        margin-left: -.4rem;
        margin-right: -.4rem
    }
    .sm-p1 {
        padding: .4rem
    }
    .sm-px1 {
        padding-left: .4rem;
        padding-right: .4rem
    }
    .sm-py1 {
        padding-top: .4rem;
        padding-bottom: .4rem
    }
    .sm-m2 {
        margin: .8rem
    }
    .sm-mt2 {
        margin-top: .8rem
    }
    .sm-mb2 {
        margin-bottom: .8rem
    }
    .sm-ml2 {
        margin-left: .8rem
    }
    .sm-mr2 {
        margin-right: .8rem
    }
    .sm-mxn2 {
        margin-left: -.8rem;
        margin-right: -.8rem
    }
    .sm-p2 {
        padding: .8rem
    }
    .sm-px2 {
        padding-left: .8rem;
        padding-right: .8rem
    }
    .sm-py2 {
        padding-top: .8rem;
        padding-bottom: .8rem
    }
    .sm-m3 {
        margin: 1.5rem
    }
    .sm-mt3 {
        margin-top: 1.5rem
    }
    .sm-mb3 {
        margin-bottom: 1.5rem
    }
    .sm-ml3 {
        margin-left: 1.5rem
    }
    .sm-mr3 {
        margin-right: 1.5rem
    }
    .sm-mxn3 {
        margin-left: -1.5rem;
        margin-right: -1.5rem
    }
    .sm-p3 {
        padding: 1.5rem
    }
    .sm-px3 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
    .sm-py3 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem
    }
    .sm-m4 {
        margin: 3rem
    }
    .sm-mt4 {
        margin-top: 3rem
    }
    .sm-mb4 {
        margin-bottom: 3rem
    }
    .sm-ml4 {
        margin-left: 3rem
    }
    .sm-mr4 {
        margin-right: 3rem
    }
    .sm-mxn4 {
        margin-left: -3rem;
        margin-right: -3rem
    }
    .sm-p4 {
        padding: 3rem
    }
    .sm-px4 {
        padding-left: 3rem;
        padding-right: 3rem
    }
    .sm-py4 {
        padding-top: 3rem;
        padding-bottom: 3rem
    }
}
@media (min-width: 1300px) {
    .md-m0 {
        margin: 0
    }
    .md-p0 {
        padding: 0
    }
    .md-m1 {
        margin: .4rem
    }
    .md-mt1 {
        margin-top: .4rem
    }
    .md-mb1 {
        margin-bottom: .4rem
    }
    .md-ml1 {
        margin-left: .4rem
    }
    .md-mr1 {
        margin-right: .4rem
    }
    .md-mxn1 {
        margin-left: -.4rem;
        margin-right: -.4rem
    }
    .md-p1 {
        padding: .4rem
    }
    .md-px1 {
        padding-left: .4rem;
        padding-right: .4rem
    }
    .md-py1 {
        padding-top: .4rem;
        padding-bottom: .4rem
    }
    .md-m2 {
        margin: .8rem
    }
    .md-mt2 {
        margin-top: .8rem
    }
    .md-mb2 {
        margin-bottom: .8rem
    }
    .md-ml2 {
        margin-left: .8rem
    }
    .md-mr2 {
        margin-right: .8rem
    }
    .md-mxn2 {
        margin-left: -.8rem;
        margin-right: -.8rem
    }
    .md-p2 {
        padding: .8rem
    }
    .md-px2 {
        padding-left: .8rem;
        padding-right: .8rem
    }
    .md-py2 {
        padding-top: .8rem;
        padding-bottom: .8rem
    }
    .md-m3 {
        margin: 1.5rem
    }
    .md-mt3 {
        margin-top: 1.5rem
    }
    .md-mb3 {
        margin-bottom: 1.5rem
    }
    .md-ml3 {
        margin-left: 1.5rem
    }
    .md-mr3 {
        margin-right: 1.5rem
    }
    .md-mxn3 {
        margin-left: -1.5rem;
        margin-right: -1.5rem
    }
    .md-p3 {
        padding: 1.5rem
    }
    .md-px3 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
    .md-py3 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem
    }
    .md-m4 {
        margin: 3rem
    }
    .md-mt4 {
        margin-top: 3rem
    }
    .md-mb4 {
        margin-bottom: 3rem
    }
    .md-ml4 {
        margin-left: 3rem
    }
    .md-mr4 {
        margin-right: 3rem
    }
    .md-mxn4 {
        margin-left: -3rem;
        margin-right: -3rem
    }
    .md-p4 {
        padding: 3rem
    }
    .md-px4 {
        padding-left: 3rem;
        padding-right: 3rem
    }
    .md-py4 {
        padding-top: 3rem;
        padding-bottom: 3rem
    }
}
@media (min-width: 1800px) {
    .lg-m0 {
        margin: 0
    }
    .lg-p0 {
        padding: 0
    }
    .lg-m1 {
        margin: .4rem
    }
    .lg-mt1 {
        margin-top: .4rem
    }
    .lg-mb1 {
        margin-bottom: .4rem
    }
    .lg-ml1 {
        margin-left: .4rem
    }
    .lg-mr1 {
        margin-right: .4rem
    }
    .lg-mxn1 {
        margin-left: -.4rem;
        margin-right: -.4rem
    }
    .lg-p1 {
        padding: .4rem
    }
    .lg-px1 {
        padding-left: .4rem;
        padding-right: .4rem
    }
    .lg-py1 {
        padding-top: .4rem;
        padding-bottom: .4rem
    }
    .lg-m2 {
        margin: .8rem
    }
    .lg-mt2 {
        margin-top: .8rem
    }
    .lg-mb2 {
        margin-bottom: .8rem
    }
    .lg-ml2 {
        margin-left: .8rem
    }
    .lg-mr2 {
        margin-right: .8rem
    }
    .lg-mxn2 {
        margin-left: -.8rem;
        margin-right: -.8rem
    }
    .lg-p2 {
        padding: .8rem
    }
    .lg-px2 {
        padding-left: .8rem;
        padding-right: .8rem
    }
    .lg-py2 {
        padding-top: .8rem;
        padding-bottom: .8rem
    }
    .lg-m3 {
        margin: 1.5rem
    }
    .lg-mt3 {
        margin-top: 1.5rem
    }
    .lg-mb3 {
        margin-bottom: 1.5rem
    }
    .lg-ml3 {
        margin-left: 1.5rem
    }
    .lg-mr3 {
        margin-right: 1.5rem
    }
    .lg-mxn3 {
        margin-left: -1.5rem;
        margin-right: -1.5rem
    }
    .lg-p3 {
        padding: 1.5rem
    }
    .lg-px3 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
    .lg-py3 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem
    }
    .lg-m4 {
        margin: 3rem
    }
    .lg-mt4 {
        margin-top: 3rem
    }
    .lg-mb4 {
        margin-bottom: 3rem
    }
    .lg-ml4 {
        margin-left: 3rem
    }
    .lg-mr4 {
        margin-right: 3rem
    }
    .lg-mxn4 {
        margin-left: -3rem;
        margin-right: -3rem
    }
    .lg-p4 {
        padding: 3rem
    }
    .lg-px4 {
        padding-left: 3rem;
        padding-right: 3rem
    }
    .lg-py4 {
        padding-top: 3rem;
        padding-bottom: 3rem
    }
}
.svg-triangle-down,
.svg-triangle-up {
    width: 102%;
    height: 96px;
    height: 6rem
}
.svg-triangle-down {
    margin-top: -1px
}
.svg-triangle-up {
    margin-bottom: -1px
}
.svg-pattern svg,
.svg-triangle-down svg,
.svg-triangle-up svg {
    fill: inherit
}
.fade-opacity {
    transition: opacity .2s cubic-bezier(.45, .65, .34, .96);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000
}
.fade-bg-colour,
.fade-border-colour,
.fade-colour,
.transition-transform {
    transition: border-color .2s cubic-bezier(.45, .65, .34, .96);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000
}
.fade-bg-colour,
.fade-colour,
.transition-transform {
    transition: color .2s cubic-bezier(.45, .65, .34, .96)
}
.fade-bg-colour,
.transition-transform {
    transition: background-color .2s cubic-bezier(.45, .65, .34, .96)
}
.transition-transform {
    transition: -webkit-transform .2s cubic-bezier(.45, .65, .34, .96);
    transition: transform .2s cubic-bezier(.45, .65, .34, .96)
}
.transition-fade-out {
    -webkit-animation-name: fade-out;
    animation-name: fade-out;
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}
@-webkit-keyframes fade-out {
    0% {
        opacity: 1
    }
    25% {
        opacity: .5
    }
    50% {
        opacity: .25
    }
    to {
        opacity: 0
    }
}
@keyframes fade-out {
    0% {
        opacity: 1
    }
    25% {
        opacity: .5
    }
    50% {
        opacity: .25
    }
    to {
        opacity: 0
    }
}
html {
    font-size: 16px;
    background-color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    height: 100%
}
@media (min-width: 1300px) {
    .h1 {
        font-size: 1.75rem
    }
}
.caps {
    letter-spacing: .12em
}
.sans-serif {
    font-family: Verlag, sans-serif
}
.serif {
    font-family: Archer, serif
}
.line-height-1 {
    line-height: 1
}
.line-height-reset {
    line-height: 1.5
}
.line-height-inherit {
    line-height: inherit
}
.letter-space-reset {
    letter-spacing: normal
}
.line-height-0 {
    line-height: 0
}
.line-height-h6-h3 {
    line-height: 2.5
}
.break-word {
    word-wrap: break-word
}
.bold,
.btn {
    font-weight: 600
}
.font-0 {
    font-size: 0
}
.font-reset {
    font-size: 16px;
    font-size: 1rem
}
.v-align-text-bottom {
    vertical-align: text-bottom
}
.line-through {
    text-decoration: line-through
}
.underline {
    text-decoration: underline
}
.medium-type {
    font-size: 22px;
    font-size: 1.4rem
}
.large-type {
    font-size: 35px;
    font-size: 2.2rem
}
.extra-large-type {
    font-size: 48px;
    font-size: 3rem
}
.super-large-type {
    font-size: 96px;
    font-size: 6rem
}
@media (min-width: 720px) {
    .medium-type {
        font-size: 1.5rem
    }
    .large-type {
        font-size: 2.5rem
    }
    .extra-large-type {
        font-size: 3.5rem
    }
    .super-large-type {
        font-size: 8rem
    }
}
@media (min-width: 1300px) {
    .medium-type {
        font-size: 2rem
    }
    .large-type {
        font-size: 2.85rem
    }
    .extra-large-type {
        font-size: 4rem
    }
    .super-large-type {
        font-size: 11rem
    }
}
.square-list {
    list-style-type: square
}
@font-face {
    font-family: 'Archer';
    src: url(../fonts/ArcherPro-XLight.otf);
    font-weight: 200;
    font-style: normal
}
@font-face {
    font-family: 'Archer';
    src: url(../fonts/ArcherPro-XLightIta.otf);
    font-weight: 200;
    font-style: italic
}
@font-face {
    font-family: 'Archer';
    src: url(../fonts/ArcherPro-Light.otf);
    font-weight: 300;
    font-style: normal
}
@font-face {
    font-family: 'Archer';
    src: url(../fonts/ArcherPro-LightIta.otf);
    font-weight: 300;
    font-style: italic
}
@font-face {
    font-family: 'Archer';
    src: url(../fonts/ArcherPro-Book.otf);
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Archer';
    src: url(../fonts/ArcherPro-BookIta.otf);
    font-weight: 400;
    font-style: italic
}
@font-face {
    font-family: 'Archer';
    src: url(../fonts/ArcherPro-Medium.otf);
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-family: 'Archer';
    src: url(../fonts/ArcherPro-MediumIta.otf);
    font-weight: 500;
    font-style: italic
}
@font-face {
    font-family: 'Archer';
    src: url(../fonts/ArcherPro-Semibold.otf);
    font-weight: 600;
    font-style: normal
}
@font-face {
    font-family: 'Archer';
    src: url(../fonts/ArcherPro-SemiboldIta.otf);
    font-weight: 600;
    font-style: italic
}
@font-face {
    font-family: 'Archer';
    src: url(../fonts/ArcherPro-Bold.otf);
    font-weight: 800;
    font-style: normal
}
@font-face {
    font-family: 'Archer';
    src: url(../fonts/ArcherPro-BoldIta.otf);
    font-weight: 800;
    font-style: italic
}
@font-face {
    font-family: 'Verlag';
    src: url(../fonts/Verlag-Book.eot);
    src: url(../fonts/Verlag-Book.eot?#iefix) format('embedded-opentype'), url(../fonts/Verlag-Book.woff) format('woff'), url(../fonts/Verlag-Book.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Verlag';
    src: url(../fonts/Verlag-BookItalic.eot);
    src: url(../fonts/Verlag-BookItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/Verlag-BookItalic.woff) format('woff'), url(../fonts/Verlag-BookItalic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic
}
@font-face {
    font-family: 'Verlag';
    src: url(../fonts/Verlag-Bold.eot);
    src: url(../fonts/Verlag-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/Verlag-Bold.woff) format('woff'), url(../fonts/Verlag-Bold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal
}
@font-face {
    font-family: 'Verlag';
    src: url(../fonts/Verlag-BoldItalic.eot);
    src: url(../fonts/Verlag-BoldItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/Verlag-BoldItalic.woff) format('woff'), url(../fonts/Verlag-BoldItalic.ttf) format('truetype');
    font-weight: 600;
    font-style: italic
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.wrap {
    max-width: 1440px;
    min-height: 100%;
    margin: 0 auto
}
.muted {
    opacity: .9
}
.muted-2 {
    opacity: .5
}
.square {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    overflow: hidden
}
.embed-container embed,
.embed-container iframe,
.embed-container object,
.oembed embed,
.oembed iframe,
.oembed object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.extra-small-icon {
    font-size: 8px;
    font-size: .55rem;
    font-weight: 700
}
.small-icon {
    font-size: 12px;
    font-size: .8rem;
    line-height: 1.875
}
.large-icon {
    font-size: 17px;
    font-size: 1.1rem;
    font-weight: 700
}
.extra-large-icon {
    font-size: 25px;
    font-size: 1.6rem;
    font-weight: 700
}
.super-icon {
    font-size: 48px;
    font-size: 3rem
}
.basket-icon {
    font-size: 17px;
    font-size: 1.1rem;
    line-height: .2;
    vertical-align: -125%
}
.col-13 {
    width: 108.33333%
}
.width-30 {
    width: 30em
}
.min-width-50 {
    min-width: 50em
}
.min-width-40 {
    min-width: 40em
}
.min-width-30 {
    min-width: 30em
}
.max-width-20 {
    max-width: 20em
}
.max-width-30 {
    max-width: 30em
}
.max-width-40 {
    max-width: 40em
}
.max-width-auto {
    max-width: inherit!important
}
.min-height-100 {
    min-height: 100%
}
.search {
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 0
}
.vertical-middle {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
.not-empty {
    min-height: 1px
}
.btn:focus {
    box-shadow: none;
    border-color: initial
}
.stripe:nth-child(even) {
    background-color: #f7f7f7
}
.cube,
.cube-2 {
    width: 32px;
    width: 2rem;
    height: 32px;
    height: 2rem;
    line-height: 32px;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0
}
.cube-2 {
    margin: 3px;
    margin: .2rem;
    width: 35px;
    width: 2.2rem;
    height: 35px;
    height: 2.2rem;
    line-height: 35px;
    line-height: 2.2rem
}
.x-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}
.y-center {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
*>x-center,
*>y-center,
.on-bottom,
.on-top {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}
*>x-center,
*>y-center {
    overflow: hidden
}
.on-bottom,
.on-top {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%)
}
.on-top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}
.pre-wrap {
    white-space: pre-wrap
}
.overflow-x-hidden {
    overflow-x: hidden
}
.oembed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%
}


.fr-scroller-element .mb3 { 
    width: 68px;

 }